#
# Exclude these files from release archives.
# This will also make them unavailable when using Composer with `--prefer-dist`.
# https://blog.madewithlove.be/post/gitattributes/
#
/docs              export-ignore
/tests             export-ignore
/.github           export-ignore
.editorconfig      export-ignore
.gitattributes     export-ignore
.gitignore         export-ignore
.scrutinizer.yml   export-ignore
.travis.yml        export-ignore
.styleci.yml       export-ignore
phpunit.xml.dist   export-ignore
CHANGELOG.md       export-ignore
CONTRIBUTING.md    export-ignore
README.md          export-ignore
phpstan.neon.dist  export-ignore

#
# Auto detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
#
* text=auto

#
# The above will handle all files NOT found below
#
*.md text
*.php text
*.inc text

#
# Pretty color the neon files
#
*.neon             linguist-language=YAML
*.neon.dist        linguist-language=YAML
