parameters:
    scopeClass: NunoMaduro\Larastan\Analyser\Scope
    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model
        - Illuminate\Http\Resources\Json\JsonResource
        - Illuminate\Http\Request
        - Illuminate\Contracts\Auth\Authenticatable
    excludes_analyse:
        - *.blade.php
    ignoreErrors:
        - '#Result of function abort \(void\) is used#'
        - '#Call to an undefined method Illuminate\\Support\\HigherOrder#'
        - '#Method App\\Exceptions\\Handler::render\(\) should return Illuminate\\Http\\Response but returns Symfony\\Component\\HttpFoundation\\Response#'
        - '#Property App\\Http\\Middleware\\TrustProxies::\$headers \(string\) does not accept default value of type int#'
    bootstrap: %rootDir%/../../nunomaduro/larastan/bootstrap.php
    reportUnmatchedIgnoredErrors: false

services:
    -
        class: NunoMaduro\Larastan\Methods\Extension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: NunoMaduro\Larastan\Properties\Extension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension

    -
        class: NunoMaduro\Larastan\ReturnTypes\ModelExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: NunoMaduro\Larastan\ReturnTypes\AuthExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: NunoMaduro\Larastan\ReturnTypes\RequestExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: NunoMaduro\Larastan\ReturnTypes\Helpers\CookieExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension

    -
        class: NunoMaduro\Larastan\ReturnTypes\Helpers\ResponseExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension

    -
        class: NunoMaduro\Larastan\ReturnTypes\Helpers\RequestExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension

    -
        class: NunoMaduro\Larastan\ReturnTypes\Helpers\RedirectExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension

    -
        class: NunoMaduro\Larastan\ReturnTypes\Helpers\UrlExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension

    -
        class: NunoMaduro\Larastan\ReturnTypes\Helpers\ViewExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
