parameters:
    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model
        - Illuminate\Http\Resources\Json\JsonResource
        - Illuminate\Http\Request
    excludes_analyse:
        - *.blade.php
    ignoreErrors:
        - '#Result of function abort \(void\) is used#'
    bootstrap: %rootDir%/../../nunomaduro/laravel-code-analyse/bootstrap.php
    reportUnmatchedIgnoredErrors: false

services:
    -
        class: NunoMaduro\LaravelCodeAnalyse\Auth\AuthManagerExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: NunoMaduro\LaravelCodeAnalyse\Contracts\Auth\AuthenticatableExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: NunoMaduro\LaravelCodeAnalyse\Database\Eloquent\BuilderMethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: NunoMaduro\LaravelCodeAnalyse\Database\Eloquent\ModelMethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: NunoMaduro\LaravelCodeAnalyse\Database\Eloquent\ModelScopeMethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: NunoMaduro\LaravelCodeAnalyse\Http\Resources\Json\ResourceMethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: NunoMaduro\LaravelCodeAnalyse\Http\Resources\Json\ResourceScopeMethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: NunoMaduro\LaravelCodeAnalyse\Support\Facades\FacadeMethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
