includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - extension.neon
    - phpstan-baseline.neon
parameters:
    level: 8
    phpVersion: 80200
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
