includes:
    - extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    level: max
    phpVersion: 80000
    paths:
        - src
    ignoreErrors:
        - '#Call to an undefined method Mockery\\ExpectationInterface#'
        - '#Mockery\\(?:Legacy)?MockInterface#'
