parameters:
	ignoreErrors:
		-
			message: "#^Creating new PHPStan\\\\Reflection\\\\Php\\\\DummyParameter is not covered by backward compatibility promise\\. The class might change in a minor PHPStan version\\.$#"
			count: 1
			path: src/Methods/ModelForwardsCallsExtension.php

