parameters:
    level: max
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Method Illuminate\\Contracts\\Foundation\\Application::basePath\(\) invoked with 1 parameter, 0 required.#'
        - '#Call to an undefined method Mockery\\ExpectationInterface#'
        - '#Mockery\\MockInterface#'
        - '#Parameter \#4 \$phpDocParameterTypes of method PHPStan\\Reflection\\Php\\PhpMethodReflectionFactory::create#'
