<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutChangesToGlobalState="true"
    bootstrap="phpunit-bootstrap.php"
    colors="true"
    failOnRisky="true"
    failOnWarning="true"
    verbose="true"
>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
