parameters:
	ignoreErrors:
		-
			message: '#^Static call to instance method Illuminate\\Support\\Str\:\:sanitizeHtml\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: ../../e2e/packages/forms/src/Components/RichEditor/RichContentRenderer.php

		-
			message: '#^Static call to instance method Illuminate\\Support\\Str\:\:sanitizeHtml\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: ../../e2e/packages/infolists/src/Components/TextEntry.php

		-
			message: '#^Static call to instance method Illuminate\\Support\\Str\:\:sanitizeHtml\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: ../../e2e/packages/tables/src/Columns/Summarizers/Summarizer.php

		-
			message: '#^Static call to instance method Illuminate\\Support\\Str\:\:sanitizeHtml\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: ../../e2e/packages/tables/src/Columns/TextColumn.php
