parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Models\\\\Album\\:\\:query\\(\\) should return App\\\\Builders\\\\AlbumBuilder but returns Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<\\$this\\(Illuminate\\\\Database\\\\Eloquent\\\\Model\\)\\>\\.$#"
			count: 1
			path: ../../e2e/app/Models/Album.php

		-
			message: "#^Method App\\\\Models\\\\Artist\\:\\:query\\(\\) should return App\\\\Builders\\\\ArtistBuilder but returns Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<\\$this\\(Illuminate\\\\Database\\\\Eloquent\\\\Model\\)\\>\\.$#"
			count: 1
			path: ../../e2e/app/Models/Artist.php

		-
			message: "#^Method App\\\\Models\\\\Podcast\\:\\:query\\(\\) should return App\\\\Builders\\\\PodcastBuilder but returns Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<\\$this\\(Illuminate\\\\Database\\\\Eloquent\\\\Model\\)\\>\\.$#"
			count: 1
			path: ../../e2e/app/Models/Podcast.php

		-
			message: "#^Parameter \\#2 \\$macro of static method Illuminate\\\\Http\\\\UploadedFile\\:\\:macro\\(\\) expects bindable closure, static closure given\\.$#"
			count: 1
			path: ../../e2e/app/Providers/MacroProvider.php

		-
			message: "#^Parameter \\#3 \\$fail of method App\\\\Rules\\\\ValidSmartPlaylistRulePayload\\:\\:validate\\(\\) expects Closure\\(string\\)\\: Illuminate\\\\Translation\\\\PotentiallyTranslatedString, Closure\\(mixed\\)\\: string given\\.$#"
			count: 1
			path: ../../e2e/tests/Unit/Rules/ValidSmartPlaylistRulePayloadTest.php
