includes:
	- ../../e2e/phpstan.neon
	- monicahq-chandler.baseline.neon
parameters:
	ignoreErrors:
		- '#^Property App\\.+ \(never\) does not accept mixed\.$#'
	# Mute irrelevant ignored errors.
	reportUnmatchedIgnoredErrors: false
