parameters:
	ignoreErrors:
		-
			message: '#^Static call to instance method Illuminate\\Support\\Str\:\:markdownExternalLink\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: ../../e2e/app/Http/Middleware/HandleInertiaRequests.php
