includes:
	- ../../e2e/phpstan.neon
	- monicahq-chandler.baseline.neon
parameters:
    # Mute irrelevant ignored errors.
	reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#^Property App\\.+ \(never\) does not accept mixed\.$#'
