name: "E2E"

on:
  push:
    paths-ignore:
      - "**.md"
      - 'docs/**'
    # Prevent duplicating jobs on PR-s from local branches
    branches:
      - "2.x"
  pull_request:
    paths-ignore:
      - "**.md"
      - 'docs/**'

jobs:
  integration-tests:
    name: "Test with ${{ matrix.repository }} on PHP ${{ matrix.php-version }}"

    runs-on: "ubuntu-latest"
    timeout-minutes: 30

    strategy:
      fail-fast: false
      matrix:
        include:
          -
            repository: koel/koel
            ref: a6a0edb110dfb5aa56fb8a74d583221cb30a7353
            php-version: "8.1"
            config: koel-koel.neon
            baseline: koel-koel.baseline.neon

          -
            repository: canvural/larastan-test
            ref: 7ec9bcb4f8cf3b07c5a298504df6a8568fb65221
            php-version: "8.1"
            config: canvural-larastan-test.neon
            baseline: canvural-larastan-test.baseline.neon

          -
            repository: canvural/larastan-strict-rules
            ref: 4f658a8f9ca5334de22f733bdba1d24cbe9303a6
            php-version: "8.1"
            config: canvural-larastan-strict-rules.neon
            baseline: canvural-larastan-strict-rules.baseline.neon

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v3"
        with:
          path: "larastan"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"

      - name: "Checkout dependent repo"
        uses: "actions/checkout@v3"
        with:
          repository: "${{ matrix.repository }}"
          ref: "${{ matrix.ref }}"
          path: "e2e"

      - name: "Install dependencies"
        run: |
          cd e2e/
          composer install --no-scripts --no-interaction
          composer config repositories.0 '{ "type": "path", "url": "../larastan" }'
          composer config minimum-stability dev
          composer require --dev --update-with-all-dependencies "larastan/larastan:*"

      - name: "Perform static analysis"
        working-directory: e2e
        run: composer exec phpstan analyse -- -c "../larastan/e2e/${{ matrix.config }}"

      - name: "Generate baseline"
        if: ${{ failure() }}
        working-directory: e2e
        run: composer exec phpstan analyse -- -c ../larastan/e2e/${{ matrix.config }} -b ../larastan/e2e/${{ matrix.baseline }}

      - uses: actions/upload-artifact@v3
        if: ${{ failure() }}
        with:
          name: baselines
          path: "larastan/e2e/${{ matrix.baseline }}"

